*.gem
*.rbc
.*.sw*
.*.un~
.bundle
.config
.yardoc
.idea
.env
InstalledFiles
_yardoc
coverage
demos
images/
jsons/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
/test/performance
tmp
yamls/
Gemfile.local
Gemfile.local.lock
doc/.?????????*
.ci/logs/
.ci/cids/
.ci.Gemfile.lock
